numpy
opencv-python
imageio
imageio-ffmpeg
--find-links https://download.pytorch.org/whl/cu117
torch==2.0.0
torchvision
torchaudio
albumentations
diffusers
pudb
invisible-watermark
pytorch-lightning==1.6.5
omegaconf
test-tube>=0.7.5
streamlit>=0.73.1
einops
torch-fidelity
transformers
torchmetrics
kornia
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
-e git+https://github.com/openai/CLIP.git@main#egg=clip